@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 13% 7%;
    --foreground: 40 10% 90%;
    --card: 40 13% 10%;
    --card-foreground: 40 10% 90%;
    --popover: 40 13% 7%;
    --popover-foreground: 40 10% 90%;
    --primary: 42 73% 59%;
    --primary-foreground: 40 13% 7%;
    --secondary: 12 61% 50%;
    --secondary-foreground: 40 10% 98%;
    --muted: 40 13% 15%;
    --muted-foreground: 40 5% 65%;
    --accent: 42 73% 59%;
    --accent-foreground: 40 13% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 13% 20%;
    --input: 40 13% 20%;
    --ring: 42 73% 59%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
